<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/card.css">
    <script src="https://use.fontawesome.com/b500caf73f.js"></script>
    <title>Cards</title>
</head>

<body>
    <section class="container">
        <!-- 1st card -->
        <div class="card-container">
            <div class="card-header">
                <div class="">
                    <img src="https://picsum.photos/500" alt="Responsive Image" class="card-img"></img>
                    <div class="card-heading-container">
                        <h2 class="card-heading">Responsive Design</h2>
                        <span class="card-sub-heading grey-color">by Aamir Nathani</span>
                    </div>
                </div>

                <p class="card-content">In the early days of web design, the websites are made in the one resolution
                    that is desktop size.</p>
            </div>

            <div class="card-nav-links">
                <div class="card-text-links">
                    <a href="">Read</a>
                    <a href="">Comment</a>
                </div>
                <div class="card-font-links">
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>


        <!-- 2nd card -->
        <div class="card-container">
            <div class="card-header">
                <div class="parent-rel">   
                    <img src="https://picsum.photos/500" alt="Responsive Image" class="card-img"></img>
                    <div class="card-heading-container child-abs">
                        <h2 class="card-heading">Responsive Design</h2>
                        <span class="card-sub-heading">by Aamir Nathani</span>
                    </div>
                </div>

                <p class="card-content">In the early days of web design, the websites are made in the one resolution
                    that is desktop size.</p>
            </div>

            <div class="card-nav-links">
                <div class="card-text-links">
                    <a href="">Read</a>
                    <a href="">Comment</a>
                </div>
                <div class="card-font-links">
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!-- 3rd card -->

        <div class="card-container">
            <div class="card-header">
                <div class="">
                    <img src="https://picsum.photos/500" alt="Responsive Image" class="card-img"></img>
                    <div class="card-heading-container">
                        <h2 class="card-heading">Responsive Design</h2>
                        <span class="card-sub-heading grey-color">by Aamir Nathani</span>
                    </div>
                </div>

                <p class="card-content">In the early days of web design, the websites are made in the one resolution
                    that is desktop size.</p>
            </div>

            <div class="card-nav-links">
                <div class="card-text-links">
                    <a href="">Read</a>
                    <a href="">Comment</a>
                </div>
                <div class="card-font-links content-remove">
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!-- 4th card -->
        <div class="card-container">
            <div class="card-header">
                <div class="">
                    <img src="https://picsum.photos/500" alt="Responsive Image" class="card-img"></img>
                    <div class="card-heading-container">
                        <h2 class="card-heading">Responsive Design</h2>
                        <span class="card-sub-heading grey-color">by Aamir Nathani</span>
                    </div>
                </div>

                <p class="card-content">In the early days of web design, the websites are made in the one resolution
                    that is desktop size.</p>
            </div>

            <div class="card-nav-links">
                <div class="card-text-links content-remove">
                    <a href="">Read</a>
                    <a href="">Comment</a>
                </div>  
                <div class="card-font-links">
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>


        <!-- 5th card -->

        <div class="card-container">
            <div class="card-header">
                <div class="card-header-primary">
                    <img src="https://picsum.photos/500" alt="Responsive Image" class="card-img "></img>
                    <div class="card-heading-container od-first">
                        <h2 class="card-heading">Responsive Design</h2>
                        <span class="card-sub-heading grey-color">by Aamir Nathani</span>
                    </div>
                </div>

                <p class="card-content">In the early days of web design, the websites are made in the one resolution
                    that is desktop size.</p>
            </div>

            <div class="card-nav-links">
                <div class="card-text-links">
                    <a href="">Read</a>
                    <a href="">Comment</a>
                </div>
                <div class="card-font-links">
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <!-- 5th card -->
        <div class="card-container">
            <div class="card-header">
                <div class="card-header-secondary">
                    <img src="https://picsum.photos/500" alt="Responsive Image" class="card-img-sm"></img>
                    <div class="card-heading-container">
                        <h2 class="card-heading">Responsive Design</h2>
                        <span class="card-sub-heading grey-color">by Aamir Nathani</span>
                    </div>
                </div>

                <p class="card-content content-remove">In the early days of web design, the websites are made in the one resolution
                    that is desktop size.</p>
            </div>

            <div class="card-nav-links">
                <div class="card-text-links">
                    <a href="">Read</a>
                    <a href="">Comment</a>
                </div>
                <div class="card-font-links">
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>