<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/chips.css">
    <script src="https://use.fontawesome.com/b500caf73f.js"></script>
    <title>Chips</title>
</head>
<body>  
    <section class="chips-main-container">
        <div class="chip-container">
            <div class="chip">Name
                <span class="badge">X</span>
            </div>
            <div class="chip">Age
                <span class="badge">X</span>
            </div>
            <div class="chip">DOB
                <span class="badge">X</span>
            </div>
            <div class="chip">ADD
                <span class="badge">X</span>
            </div>
            <input type="text" placeholder="Enter the chips" class="chip-input">
        </div>

        <!-- 2nd container -->
        <div class="chip-container">
            <div class="chip error">Name
                <span class="badge display__none">X</span>
            </div>
            <div class="chip success">Age
                <span class="badge display__none">X</span>
            </div>
            <div class="chip warning">DOB
                <span class="badge display__none">X</span>
            </div>
            <div class="chip">ADD
                <span class="badge display__none">X</span>
            </div>
            <input type="text" placeholder="Enter the chips" class="chip-input display__none">
        </div>

        <!-- 3rd container -->
        <div class="third-chip">
            <div class="chip error">Name
                <span class="badge display__none">X</span>
            </div>
            <div class="chip success">Age
                <span class="badge display__none">X</span>
            </div>
            <div class="chip warning">DOB
                <span class="badge display__none">X</span>
            </div>
            <div class="chip">ADD
                <span class="badge display__none">X</span>
            </div>
            <input type="text" placeholder="Enter the chips" class="chip-input display__none">
        </div>
    </section>
</body>
</html>