<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/dialogs.css">
    <script src="https://use.fontawesome.com/b500caf73f.js"></script>
    <title>Dialogs</title>
</head>
<body>  
    <section class="dialogs-main-header">
        <div class="dialog-container">
            <h3 class="dialog-title">Dialog Title</h3>
            <p class="dialog-discription">Dialog discription is a way to discribe the thing in a dialogue</p>
            <div class="dialog-btn">
                <button>Action1</button>
                <button>Action2</button>
            </div>
        </div>

        <div class="dialog-container">
            <h3 class="dialog-title">Dialog Title</h3>
            <p class="dialog-discription">Dialog discription is a way to discribe the thing in a dialogue</p>
            <div class="dialog-btn direction__column">
                <button>Full Width Action1</button>
                <button>Full Width Action2</button>
            </div>
        </div>
    </section>
    
</body>
</html>