@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif; 
}
:root{
    --bg-color-1: #ffffff;
    --bg-color-2: #000000ff;
    --bg-color-3: #e3e5eb;
    --bg-color-4: #ff0000;
    --bg-color-5: #e7f6fa;
    --txt-color-1:#ffffff;
    --txt-color-2:#000000ff;
    --txt-color-3:#555555;
    
}
body{
    font-family: "Montserrat", sans-serif; 
}

/* utilities  */
.posi__rel{
    position: relative;
}
.posi__abs{
    position: absolute;
}
.dis__none{
    display: none;
}

/* common css for all */
.badge-main-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-5);  
    
} 
.badge-container{
    display: flex;
    align-items: center;
}

.badge-container-text{
    font-size: 2rem;
}
.badge-btn{
    padding: 6px;
    margin: 10px;
    font-size: 2rem;
    border-radius: 4px;
    border:2px solid var(--bg-color-2);
    background-color: transparent;
    cursor: pointer;
}
.badge-icon{
    font-size: 3rem;
    padding: 6px;
    margin: 10px;
    cursor: pointer;
}

.badge{
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:var(--bg-color-4);
    color: var(--txt-color-1);
}

/* hover on the btn and icon */
.badge-btn:hover,
.badge-icon:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


/* changes in css starts from here  */
.badge-one-position{
    top: -1.5rem;
    right: -3rem;
}

.badge-two-position,
.badge-four-position{
    top: -15px;
    right: -15px;
}
.badge-three-position{
    top: -15px;
    left: -15px;
}
.badge-five-position{
    top: 2px;
    right: -8px;
}

